.hidden-button {
    display: none;
}
.active-button {
    display: block;
}
.image-form-demande {
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
}
.content-file-add {
    border-radius: 10px;
    padding: 0 10px;
}